/* =====================
    ROOT 
===================== */
:root{
  --clr-accent-orange-400:#ff9100;
  --clr-accent-red-400:#9c2a22;
  --clr-accent-green-400:#4caf50;

  --clr-neutral-100:#ffffff;
  --clr-neutral-200:hsl(0, 0%, 87%);
  --clr-neutral-300:hsl(0, 0%, 55%);
  --clr-neutral-500:hsl(0, 0%, 41%);
  --clr-neutral-600:#444444;
  --clr-neutral-800:#151515;
  --clr-neutral-900:#000;

  --logo-clr:var(--clr-accent-orange-400);
  --logo-bg-img:linear-gradient(135deg, #ff00cc, #7b2ff7, #ff6a00);

  --ff-primary:"Poppins", sans-serif;
  --ff-secondary:"Inter", sans-serif;

  --ff-heading:var(--ff-primary);
  --ff-body:var(--ff-secondary);


  --fw-regular:400;
  --fw-semi-bold:600;
  --fw-bold:800;

  --fs-300:0.875rem;
  --fs-400:1rem;
  --fs-600:1.25rem;
  --fs-800:2rem;

  --fs-primary-heading:var(--fs-600);
  --fs-secondary-heading:var(--fs-400);
  --fs-body:var(--fs-300);
  
  --border-radius-l:12px;
  --border-radius-m:8px;
  
}

/* =====================
    RESET / BASE STYLES
===================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html,
body{
  min-height: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {  
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
svg,
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =====================
    GLOBAL STYLES
===================== */
body{
  color:var(--clr-neutral-300);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-color: var(--clr-neutral-900);
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--ff-heading);
}
main,.dashboard{
  min-height: 80vh;
  min-height: 80dvh;
  
}

.main-content-wrapper{
  margin-top: 1.4rem;
  display:grid;
  gap:1rem
  /* border:1px solid green; */
  /* height: inherit; */
}
@media(min-width:55em){
  .main-content-wrapper{
  grid-auto-flow: column;
  grid-auto-columns: 1fr 2fr;
}
}

section,
footer{
  background-color:var(--clr-neutral-800);
  border-radius:var(--border-radius-l);
}



section {  
  padding: 1rem 1.6rem;
}

/* =====================
    COMPONENTS
===================== */

/* =====================
    Dashboard
===================== */
.header-content-wrapper{
  align-items: center;
  gap:0.5rem;
  margin-block-end: 1.5rem;
}
.logo{  
  fill: var(--logo-clr);
  width:2.3rem;
  aspect-ratio: 1;  
  background-image:var(--logo-bg-img);
  border-radius:100vw ;
}
/*  Balance Summary*/
.balance-summary{
  padding-bottom: 1.4rem;
  border-bottom: 1px solid var(--clr-neutral-600);
}
/* Total Balance */
.total-income-and-expense{
  margin-top: 1rem;
  justify-content: space-between;
  
}
/* =====================
    Form
===================== */
.new-transaction-form{
  padding-block-start: 2rem;
}
.new-transaction-form-group{
  display:grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr;
  gap:1rem;
}
.new-transaction-form-group>*{
  min-width: 50%;
}
.new-transaction-form-input-wrapper{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.new-transaction-form-input{
  padding:0.6rem 1rem;
  background-color:var(--clr-neutral-800);
  color:var(--clr-neutral-200);
  border-radius: var(--border-radius-m);
  border:1px solid var(--clr-neutral-600);
}

.new-transaction-form-input:is(:focus,:focus-within){
  outline:none;
  border:1px solid var(--clr-neutral-500);
}
.new-transaction-form-submit-btn-wrapper,
.new-transaction-form-submit-btn{
  min-width: 100%;
}

.new-transaction-form-submit-btn-wrapper{
  margin-block-start: 3rem;  
}

.new-transaction-form-submit-btn{
  cursor: pointer;
  color:var(--clr-neutral-200);
  padding-block:0.55rem;  
  background-color: var(--clr-neutral-600);
  border:none;
  border-radius: var(--border-radius-m);
}

.new-transaction-form-submit-btn:hover{
  color:var(--clr-neutral-100);
  background-color: var(--clr-neutral-500);
}

/* =====================
    Transaction History
===================== */
.transaction-history-list{
  margin-top: 1rem;
  display: grid;
  gap:1rem;
}

.transaction-history-list li{
  list-style-type: none;

  }
.transaction{
  position:relative;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns:min-content 1fr min-content max-content ;
  gap:1rem;
  padding: 1rem;
  border: 1px solid var(--clr-neutral-600);
  border-radius: var(--border-radius-m);
}
.transaction[data-type="income"]::before,
.transaction[data-type="expense"]::before{
padding:0.5rem;
border-radius: 100%;
display:grid;
place-items: center;
}
.transaction[data-type="income"]::before{
  content: url(./assets/images/misc/keyboard_arrow_up.svg);
  background-color: var(--clr-accent-green-400);
}

.transaction[data-type="expense"]::before{
  content: url(./assets/images/misc/keyboard_arrow_down.svg);
  background-color: var(--clr-accent-red-400);
}
  

.transaction[data-type="income"]>.amount{
  color:var(--clr-accent-green-400);
}
.transaction[data-type="expense"]>.amount{
  color:var(--clr-accent-red-400);
}
.delete-icon{
  cursor: pointer;
  fill:var(--clr-neutral-200);
  width:1.5rem;
  aspect-ratio: 1;
}

.delete-icon:is(:hover,:focus-visible){
fill:var(--clr-accent-red-400);
}
/* =====================
    Footer
===================== */
.primary-footer{
  margin-top: 3rem;
  padding-block: 2rem;
}
.primary-footer-content-wrapper,
.primary-footer-logo-copy-right-wrapper
{
justify-content: space-between;
align-items: center;
gap:0.7rem;
}

.primary-footer-content-wrapper{
  flex-direction: column;
}

@media(min-width:55em){

  .primary-footer-content-wrapper{
  flex-direction:row;
}
}

.primary-footer-logo-copy-right-wrapper
{
 gap:0.8rem
}

.footer-social-links{
 gap:1rem
}

.footer-social-links li{
max-width: max-content;
background-color: var(--clr-neutral-600);
padding:0.5rem;
border-radius: 100%;
}

.footer-social-links li:is(:hover,:focus-within){
outline:auto;
background-image: var(--logo-bg-img);
}

.footer-social-icon {
  width: 1.5rem;
  aspect-ratio: 1;  
  fill:var(--clr-neutral-200);  
}
.footer-social-links a:is(:hover,:focus){
outline:none;
}


/* =====================
    UTILITY 
===================== */
.text-accent-green-400{
  color:var(--clr-accent-green-400);
}
.text-accent-red-400{
  color:var(--clr-accent-red-400);
}

.text-clr-900{
  color:var(--clr-neutral-100);
}

.text-clr-800{
  color:var(--clr-neutral-200);
}




.fs-primary-heading{
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading{
  font-size: var(--fs-secondary-heading);
}
.fs-800{
  font-size: var(--fs-800);
}

.fw-bold{
  font-weight: var(--fw-bold);
}

.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}

.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}

.container {
  --max-width:1200px;
  width: min(var(--max-width), 100% - 2rem );
  margin-inline: auto;
}

:where(.flow > *:not(:first-child)){
  margin-top: var(--flow-spacer, 1rem);
  }

.flex{
  display:flex;  
}

